:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =---------------------------
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((components)) */

/* 001.__________________(components)_*/


.main-btn {
    padding: 0.5rem 1rem;

    color: var(--yellow-color);
    background-color: var(--red-color);
}

.main-btn:hover,
.btn.main-btn:focus {
    box-shadow: none;

    color: var(--yellow-color);
    background-color: var(--red-color);
    border-color: var(--red-color);
}

/* 001.__________________(main-title)_*/
.main-title::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 120px;
    height: 2px;
    background-color: var(--green-color);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#01)) */

/* 001.__________________(navbar)_*/
.navbar {
    background-color: var(--dark-color);
}

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(A)__(11)*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(button)__(22)*/
.navbar .navbar-toggler {
    font-size: 25px;
    color: #fff;
    border-color: #fff;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(navbar-collapse)__(33)*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(ul)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(li)__()*/

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(A)__()*/
.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(search)__()*/
.navbar .search {
    border-left: 1px solid var(--green-color);
}

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(i)__()*/

.navbar .search svg {
    color: var(--green-color);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#02)) */

/* 001.__________________(landing)_*/
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#03)) */

/* 001.__________________(features)_*/

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(row)__()*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(col-md-6)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(feat)__()*/

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(icon_holder)__()*/
.features .feat .icon_holder {
    height: 200px;
}

/* 
=
=
=
=
=
=
007
=
=
=
=
=
= */

/* 007._________(svg)__()*/
.features .feat .icon_holder svg {
    left: 50%;
    transform: translateX(-50%);
}

/* 
=
=
=
=
=
=
007
=
=
=
=
=
= */

/* 007._________(i)__()*/
.features .feat .icon_holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

/* 
=
=
=
=
=
=
007
=
=
=
=
=
= */

/* 007._________(i)__()*/
.features .feat .icon_holder .icon {
    color: var(--green-color);
}

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(h4)__()*/
.features .feat .icon_holder h4 {
    color: var(--yellow-color);
}

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(p)__()*/

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#00)) */

/* 001.__________________(our-work)_*/
.our-work {
    background-color: var(--section-color);
}

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(ul)__()*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(li)__()*/
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:not(.active):hover {
    color: var(--red-color);
}

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(active)__()*/
.our-work ul li.active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(row)__()*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(col)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(box)__()*/
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;

    color: #FFF;
    background-color: #33d1ccc2;

    transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover:before {
    transform: translateX(0);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#05)) */

/* 001.__________________(stuff)_*/

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(p)__()*/
.stuff .description {
    max-width: 500px;
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#06)) */

/* 001.__________________(team)_*/

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(ffff)__()*/

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#00)) */

/* 001.__________________(team)_*/
.team {
    background-color: var(--section-color);
}

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(h2)__()*/
.team h2 {
    color: var(--yellow-color);
}

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(row)__()*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(col)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(box)__()*/

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(h4)__()*/
.team .box h4 {
    background-color: var(--green-color);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#06)) */

/* 001._________(techs)__()*/

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#07)) */

/* 001._________(project)__()*/
.project {
    background-color: var(--dark-color);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#07)) */

/* 001._________(blog)__()*/

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#08)) */

/* 001._________(subscribe)__()*/
.subscribe {
    background-color: var(--yellow-color);
}

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(row)__()*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(col)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(input)__()*/
.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: #fff;
}

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */
/* 005._________(input)__()*/
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

/* ==================== */
/* =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =000000000000000000000000000000000000000000000000000000000000000
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =  
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ==================== ((#09)) */

/* 001._________(footer)__()*/
.footer {
    background-color: var(--dark-color);
}

/* 
=
=
=
=
=
=
002
=
=
=
=
=
= */

/* 002._________(container)__()*/

/* 
=
=
=
=
=
=
003
=
=
=
=
=
= */

/* 003._________(row)__()*/

/* 
=
=
=
=
=
=
004
=
=
=
=
=
= */

/* 004._________(col)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(info)__()*/

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(copyright)__()*/

/* 
=
=
=
=
=
=
007
=
=
=
=
=
= */

/* 007._________(span)__()*/
.footer .info .copyright>span {
    color: var(--green-color);
}

/* 
=
=
=
=
=
=
007
=
=
=
=
=
= */

/* 007._________(div)__()*/

/* 
=
=
=
=
=
=
008
=
=
=
=
=
= */

/* 008._________(span)__()*/
.footer .info .copyright div span {
    color: var(--yellow-color);
}

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(links)__()*/

/* 
=
=
=
=
=
=
005
=
=
=
=
=
= */

/* 005._________(contact)__()*/

/* 
=
=
=
=
=
=
006
=
=
=
=
=
= */

/* 006._________(ul)__()*/


/* 
=
=
=
=
=
=
007
=
=
=
=
=
= */

/* 007._________(li)__()*/


/* 
=
=
=
=
=
=
008
=
=
=
=
=
= */

/* 008._________(A)__()*/

/* 
=
=
=
=
=
=
009
=
=
=
=
=
= */

/* 009._________(i)__()*/
.footer .contact ul li a svg {
    width: 20px;
    height: 20px;
}

.footer .contact ul li a .facebook {
    background-color: #1877f2;
}

.footer .contact ul li a .twitter {
    background-color: #1da1f2;
}

.footer .contact ul li a .linkedin {
    background-color: #0077b5;
}

.footer .contact ul li a .youtube {
    background-color: #ff0000;
}